<h1>Name: <%= @user.name %></h1>
<h1>Tickets: <%= @user.tickets %></h1>
<h1>Mood: <%= @user.mood %></h1>
<h1>Height: <%= @user.height %> inches</h1>
<h1><%= link_to "See attractions", attractions_path  %></h1>
