<h1>Name: <%= @attraction.name %></h1>
<h1>Total Number of Users: <%= @attraction.users.size %></h1>
<h1>Ticket Requirement: <%= @attraction.tickets %></h1>
<h1>Height Requirement: <%= @attraction.min_height %></h1>
<h1>Nausea Rating: <%= @attraction.nausea_rating %></h1>
<h1>Happiness Rating: <%= @attraction.happiness_rating %></h1>

<%= button_to "Go on this ride", user_path(@user), params: { attraction_id: @attraction.id }, method: :get %>
